// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #c00;

body {
	background: $red;

	p {
		color: blue;
	}
}